@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

$bg-color: white;

:root {
  --main-color: #3664e8;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
}

.main-container {
  ul {
    scroll-behavior: smooth;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    box-sizing: border-box;
  }
}
